/* Styles for the Contact Us page */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

header {
    background-color: #5c02ac;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    background-color: #5c02ac;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #400177;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

